{% macro naventry(entry, title=entry.title) %}
  <li{% if this == entry %} class="active"{% endif %}>
    <a href="{{ entry|url }}">{{ title }}</a>
  </li>
{% endmacro %}
<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %}</title>
<body>
  <header>
    {% set root = site.get('/') %}
    <h1>pimutils</h1>
    <nav>
      <ul class="nav navbar-nav">
        {{ naventry(root, title="Home") }}
        {% for entry in root.children %}
          {{ naventry(entry) }}
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2017 by The pimutils members.
  </footer>
</body>
