{% macro naventry(entry, title=entry.title) %}
  <li{% if this == entry %} class="active"{% endif %}>
    <a href="{{ entry|url }}">{{ title }}</a>
  </li>
{% endmacro %}
<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link rel='alternate' type='application/atom+xml' title='The pimutils Blog' href='/feed.xml'>
<title>{% block title %}Welcome{% endblock %}</title>
<body>
  <header>
    {% set root = site.get('/') %}
    <h1>pimutils</h1>
    <nav>
      <ul class="nav navbar-nav">
        {{ naventry(root, title="Home") }}
        {% for entry in root.children %}
          {{ naventry(entry) }}
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <small>
        &copy; Copyright 2017-2023 by <a href="{{ site.get('/contact')|url }}">the pimutils members</a>.
    </small>
  </footer>
</body>
