body {
    font-family: 'Georgia', serif;
    margin: 50px 0;
}

a {
    color: #33ba24;
}

a:hover {
    color: #21e00d;
}

header, footer, div.page {
    max-width: 760px;
    margin: 0 auto;
    padding: 20px 30px;
}

header {
    background: #1e2e1c;
}

header a {
    text-decoration: none;
}

h1, h2 {
    font-weight: normal;
} 

header h1 {
    font-family: 'Source Code Pro', monospace;
    color: #efefef;
    margin: 0;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}
